

@font-face {
	font-family:"nbg";
	src:url("/font/NanumBarunGothic.ttf");
}
@font-face{
	font-family:"rp";
	src:url("/font/Recipekorea.ttf");
}
@font-face{
	font-family:"ebsj";
	src:url("/font/EBS주시경M.ttf");
}
